---

- name: Install Apache
  ansible.builtin.apt:
    name: apache2
    state: present
    update_cache: yes

- name: Enable Apache rewrite module
  ansible.builtin.command: a2enmod rewrite
  args:
    creates: /etc/apache2/mods-enabled/rewrite.load
  notify: restart apache

- name: Enable Apache SSL module
  ansible.builtin.command: a2enmod ssl
  args:
    creates: /etc/apache2/mods-enabled/ssl.load
  notify: restart apache

- name: Disable default Apache site
  ansible.builtin.command: a2dissite 000-default.conf
  args:
    removes: /etc/apache2/sites-enabled/000-default.conf
  notify: restart apache

- name: Create VirtualHost file
  ansible.builtin.template:
    src: vhost.conf.j2
    dest: "/etc/apache2/sites-available/{{ domain }}.conf"
  notify: restart apache

- name: Enable site
  ansible.builtin.command: "a2ensite {{ domain }}.conf"
  args:
    creates: "/etc/apache2/sites-enabled/{{ domain }}.conf"
  notify: restart apache
